/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}
html {
	overflow-y: scroll;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a:focus {
	outline: thin dotted;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}
audio,
canvas,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
}
del {
	color: #333;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin: 24px;
	margin-bottom: 1.714285714rem;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
small {
	font-size: smaller;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

/* Clearing floats */
.clear:after,
.wrapper:after,
.format-status .entry-header:after {
	clear: both;
}
.clear:before,
.clear:after,
.wrapper:before,
.wrapper:after,
.format-status .entry-header:before,
.format-status .entry-header:after {
	display: table;
	content: "";
}

/* =Primary Elements
-------------------------------------------------------------- */
body {
background: #eeeeee;
margin: 0;
padding: 0;
font-family: 'Open Sans', sans-serif;
line-height: 1.5em;
}
#wrapper {
width: 1000px;
margin: 0 auto 25px auto;
padding-top: 1px;
padding-bottom: 1px;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
background: #ffffff;
-moz-box-shadow: 0 0 2px #888;
-webkit-box-shadow: 0 0 2px#888;
box-shadow: 0 0 2px #888;
}
#content {
margin: 25px;
}
#footer {
margin: 25px;
}

/* =Headers
-------------------------------------------------------------- */
h1 {
font-size: 30px;
margin: 25px;
}

/* =Footer
-------------------------------------------------------------- */
#footer p {
font-size: 10px;
color: #333333;
line-height: 1.3em;
}



/* =Content
-------------------------------------------------------------- */
#content p {
line-height: 1.5em;
}

/* =Navigation Menu
-------------------------------------------------------------- */
#nav ul {
list-style-type: none;
margin-left: 25px;
margin-right: 25px;
padding-top: 10px;
padding-bottom: 10px;
border-bottom: 1px solid #ccc;
border-top: 1px solid #ccc;
}
#nav ul li {
display: inline;
padding-right: 20px;
}
#nav ul li a {
color: #6a6a6a;
text-decoration: none;
}

#nav ul li a:hover {
color: #000;
text-decoration: none;
}